-@applications.each do |application|
  .row
    .small-3.columns
      #application_image
        -if application.image.present?
          =image_tag(@auth.application.image)
        -else
          =image_tag('http://insight-dev.glos.ac.uk/departments/lis/lc/PublishingImages/default-profile-image.jpg')
    .small-7.columns
      #application_info
        %div
          %b Tagline:
          = application.tagline
        %div
          %b Age:
          = application.age
        %div
          %b Bio:
          = application.bio
    .small-2.columns