#login_form {
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
  background: black;
  color: #2ba6cb;
  .button {
    margin-top: 20px;
  }
}
#donations_table {
  width: 100%;
  text-align: center;
}

#application_image {
  img {
    height: 200px;
    width: 200px;
  }
}
#application_info {
  div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}