#login_form {
  padding: 0px 10px 0px 10px;
  border: 1px solid black;
  background: black;
  color: #2ba6cb;
  .button {
    margin-top: 20px;
  }
}
#donations_table {
  width: 100%;
  text-align: center;
}