<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
      </ul>
    </div>
    <h1 class='subheader'><a href='/'>KickShips</a></h2>
  </div>
</div>


<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <!-- <h1><a href="/">Home </a></h1> -->
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <!-- <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li> -->
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to("Home", root_path) %></li>
      <li class="divider"></li>
      <li><%= link_to("Donations", donations_path) %></li>

      <li class="divider"></li>
      <li><%= link_to("Applications", applications_path) %></li>
      <li class="divider"></li>


    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider hide-for-small"></li>

        <%== login_nav %>

    </ul>
  </section>
</nav>